@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

.tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 8px;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
}

.tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}

.tippy-content {
    padding: 8px 9px;
}
