.primary {
    color: white;
    background-color: #fe2c55;
    border-color: #fe2c55;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border-color: #fe2c55;
    color: #fe2c55;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: currentColor;
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.medium {
    padding: 9px 16px;
}

.text {
    border-color: transparent;
    &:hover {
        text-decoration: underline;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

.rounded {
    border-radius: 999px !important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}